
@model EmailTemplateRender.Views.Shared.EmailButtonsViewModel

<div class="mail_btns">
    <a class="accept__btn" href="@Model.ApproveUrl">Approve</a>
    <a class="reject__btn" href="@Model.RejecteUrl">Reject</a>
</div>